extends ../_layout
block prepend head
  - var page = 'Services'
block content
  include ../components/_header

  article

    block prepend ../components/_hero
      - var heroImage = '../img/artwork-1.png'
      - var heroTitle = 'Professional sound services for every kind of entertainment'
      - var heroDesc = 'If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office'
    include ../components/_hero

    div.services-items
      div.container

        article.services-items-item
          div.services-items-item-content
            div.services-items-item-content-image
              include ../../img/sound-design.svg
            div.swiper-slide-content-text
              h3 Sound Design
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a(href='/service') Read more
        
        article.services-items-item
          div.services-items-item-content
            div.services-items-item-content-image
              include ../../img/mixing-1.svg
            div.swiper-slide-content-text
              h3 Mixing
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a(href='/service') Read more
        
        article.services-items-item
          div.services-items-item-content
            div.services-items-item-content-image
              include ../../img/video-editing.svg
            div.swiper-slide-content-text
              h3 Video Editing
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a(href='/service') Read more

        article.services-items-item
          div.services-items-item-content
            div.services-items-item-content-image
              include ../../img/post-production.svg
            div.swiper-slide-content-text
              h3 Post Production
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a(href='/service') Read more
        
        article.services-items-item
          div.services-items-item-content
            div.services-items-item-content-image
              include ../../img/vfx.svg
            div.swiper-slide-content-text
              h3 VFX
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a(href='/service') Read more

        article.services-items-item
          div.services-items-item-content
            div.services-items-item-content-image
              include ../../img/screening.svg
            div.swiper-slide-content-text
              h3 Screening
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a(href='/service') Read more

        article.services-items-item
          div.services-items-item-content
            div.services-items-item-content-image
              include ../../img/dubbing.svg
            div.swiper-slide-content-text
              h3 Dubbing
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a(href='/service') Read more

  block prepend ../components/_cta
    - var CTAimage = '/img/artwork-3.png'
    - var CTAtitle = 'Connect your audience with the content that matters most to them'
    - var CTAdesc = 'We offer most reliable services for your valuable project providing the tools and our team to improve your business'
    - var CTAbuttonLink = '#'
    - var CTAbuttonTitle = 'Contact us'
  include ../components/_cta
  include ../components/_footer
