extends ../_layout
block prepend head
  - var page = 'Services'
block content
  include ../components/_header

  article.services

    block prepend ../components/_hero

      - var heroFull = false
      - var heroAlternative = true
      - var heroReverse = true

      - var heroFullImage = ''
      - var heroADV = '/img/artwork-5.png'
      - var heroCover = ''
      - var heroIcon = ''
      - var heroAvatar = ''
      - var heroImage = ''
      - var heroTitle = 'Professional sound services for every kind of entertainment'
      - var heroDesc = 'If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office'

      - var heroCTAlink = ''
      - var heroCTAtitle = ''

      - var heroWatchID = ''
      - var heroWatchTitle = ''

      - var heroEmail = ''
      - var heroEmailTitle = ''

      - var heroMapLat = ''
      - var heroMapLng = ''

    include ../components/_hero

    div.services-items
      div.container.container--grid

        // We don't use mixin because of inline include…

        article.services-item.container-column.container-column--two-m.container-column--three-l
          div.services-item-content(data-aos='fade', data-aos-duration='1000')
            div.services-item-content-image(data-aos='fade')
              include ../../img/sound-design.svg
            div.services-item-content-text
              h3 Sound Design
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a.button-cta.button-cta--small(href='/service') Read more
        
        article.services-item.container-column.container-column--two-m.container-column--three-l
          div.services-item-content(data-aos='fade', data-aos-duration='1000')
            div.services-item-content-image(data-aos='fade')
              include ../../img/mixing-1.svg
            div.services-item-content-text
              h3 Mixing
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a.button-cta.button-cta--small(href='/service') Read more
        
        article.services-item.container-column.container-column--two-m.container-column--three-l
          div.services-item-content(data-aos='fade', data-aos-duration='1000')
            div.services-item-content-image(data-aos='fade')
              include ../../img/video-editing.svg
            div.services-item-content-text
              h3 Video Editing
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a.button-cta.button-cta--small(href='/service') Read more

        article.services-item.container-column.container-column--two-m.container-column--three-l
          div.services-item-content(data-aos='fade', data-aos-duration='1000')
            div.services-item-content-image(data-aos='fade')
              include ../../img/post-production.svg
            div.services-item-content-text
              h3 Post Production
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a.button-cta.button-cta--small(href='/service') Read more
        
        article.services-item.container-column.container-column--two-m.container-column--three-l
          div.services-item-content(data-aos='fade', data-aos-duration='1000')
            div.services-item-content-image(data-aos='fade')
              include ../../img/vfx.svg
            div.services-item-content-text
              h3 VFX
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a.button-cta.button-cta--small(href='/service') Read more

        article.services-item.container-column.container-column--two-m.container-column--three-l
          div.services-item-content(data-aos='fade', data-aos-duration='1000')
            div.services-item-content-image(data-aos='fade')
              include ../../img/screening.svg
            div.services-item-content-text
              h3 Screening
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a.button-cta.button-cta--small(href='/service') Read more

        article.services-item.container-column.container-column--two-m.container-column--three-l
          div.services-item-content(data-aos='fade', data-aos-duration='1000')
            div.services-item-content-image(data-aos='fade')
              include ../../img/dubbing.svg
            div.services-item-content-text
              h3 Dubbing
              p Everybody that has ever been to a meeting, can recall the all familiar passing
              a.button-cta.button-cta--small(href='/service') Read more

  include ../components/_cta
  include ../components/_footer
