@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  src: local('Circular Std Book'), local('CircularStd-Book'),
       url('../fonts/CircularStd-Book.woff2') format('woff2'),
       url('../fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std';
  font-style: italic;
  font-weight: 400;
  src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'),
       url('../fonts/CircularStd-BookItalic.woff2') format('woff2'),
       url('../fonts/CircularStd-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 700;
  src: local('Circular Std Bold'), local('CircularStd-Bold'),
       url('../fonts/CircularStd-Bold.woff2') format('woff2'),
       url('../fonts/CircularStd-Bold.woff') format('woff');
}
