.filmography

  &-section
    padding-top: $space * 2
    @include media($size-m-min)
      padding-top: $space * 3
    @include media($size-l-min)
      padding-top: $space * 4
    &-header
      &-content
        p
          color: transparentize( $color-1, 0.5 )
          margin-bottom: 0
      &-all
        text-align: right
    &-items
      .container--scroll
        padding-top: $space
        padding-bottom: $space
        @include media($size-m-min)
          padding-top: $space * 2
          padding-bottom: $space * 2
        @include media($size-l-min)
          padding-top: $space * 3
          padding-bottom: $space * 3
    &-item
      &.container-column--auto-all
        padding-left: 0
        &:last-of-type
          padding-right: 0
      &-link
        display: block
        line-height: 0
        img
          border-radius: em-calc(2)
          box-shadow: 0 em-calc(3) em-calc(8) rgba($color-1, 0.25)
          max-width: em-calc(110)
          transition: all 500ms
          @include media($size-m-min)
            max-width: em-calc(120)
          @include media($size-l-min)
            max-width: em-calc(130)
        &:focus,
        &:hover
          img
            filter: brightness(110%)
            box-shadow: 0 em-calc(3) em-calc(24) rgba($color-1, 0.5)

  &-category
