extends ../_layout
block prepend head
  - var page = 'Test'
block content
  
  h1 0
  hr
  
  block prepend ../components/_hero

    - var heroFull = true
    - var heroAlternative = false
    - var heroReverse = false

    - var heroFullImage = '/img/artwork-4.png'
    - var heroADV = ''
    - var heroCover = ''
    - var heroIcon = ''
    - var heroAvatar = ''
    - var heroImage = ''
    - var heroTitle = 'Connect your audience with the content that matters most to them'
    - var heroDesc = 'We offer most reliable services for your valuable project providing the tools and our team to improve your business'

    - var heroCTAlink = ''
    - var heroCTAtitle = ''

    - var heroWatchID = ''
    - var heroWatchTitle = ''

    - var heroEmail = 'name@domain.ltd'
    - var heroEmailTitle = 'Contact us'

    - var heroMapLat = ''
    - var heroMapLng = ''

  include ../components/_hero
  
  h1 1
  hr
  
  block prepend ../components/_hero

    - var heroFull = false
    - var heroAlternative = false
    - var heroReverse = false

    - var heroFullImage = ''
    - var heroADV = '/img/mic.png'
    - var heroCover = ''
    - var heroIcon = ''
    - var heroAvatar = ''
    - var heroImage = ''
    - var heroTitle = 'More than 40 years in the sound production business'
    - var heroDesc = 'Classifieds are usually the first place you think of when you are getting ready to make a purchase. Whether you want to purchase a vehicle'

    - var heroCTAlink = '/services'
    - var heroCTAtitle = 'Our services'

    - var heroWatchID = ''
    - var heroWatchTitle = ''

    - var heroEmail = ''
    - var heroEmailTitle = ''

    - var heroMapLat = ''
    - var heroMapLng = ''

  include ../components/_hero
  
  h1 2
  hr
  
  block prepend ../components/_hero
  
    - var heroFull = false
    - var heroAlternative = true
    - var heroReverse = false

    - var heroFullImage = ''
    - var heroADV = '/img/artwork-5.png'
    - var heroCover = ''
    - var heroIcon = ''
    - var heroAvatar = ''
    - var heroImage = ''
    - var heroTitle = 'Professional sound services for every kind of entertainment'
    - var heroDesc = 'If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office'

    - var heroCTAlink = ''
    - var heroCTAtitle = ''

    - var heroWatchID = ''
    - var heroWatchTitle = ''

    - var heroEmail = ''
    - var heroEmailTitle = ''

    - var heroMapLat = ''
    - var heroMapLng = ''

  include ../components/_hero

  h1 3
  hr

  block prepend ../components/_hero

    - var heroFull = false
    - var heroAlternative = false
    - var heroReverse = false

    - var heroFullImage = ''
    - var heroADV = ''
    - var heroCover = '/img/movie-cover.jpg'
    - var heroIcon = ''
    - var heroAvatar = ''
    - var heroImage = ''
    - var heroTitle = 'City of God'
    - var heroDesc = 'To a general advertiser outdoor advertising is worthy of consideration'

    - var heroCTAlink = ''
    - var heroCTAtitle = ''

    - var heroWatchID = 'https://www.youtube.com/watch?v=1234567890'
    - var heroWatchTitle = 'Watch trailer'

    - var heroEmail = ''
    - var heroEmailTitle = ''

    - var heroMapLat = ''
    - var heroMapLng = ''

  include ../components/_hero
  
  h1 4
  hr

  block prepend ../components/_hero

    - var heroFull = false
    - var heroAlternative = false
    - var heroReverse = false

    - var heroFullImage = ''
    - var heroADV = ''
    - var heroCover = ''
    - var heroIcon = ''
    - var heroAvatar = ''
    - var heroImage = ''
    - var heroTitle = 'Press'
    - var heroDesc = 'They are big, bold and beautiful. Billboards have been around for quite a while.'

    - var heroCTAlink = ''
    - var heroCTAtitle = ''

    - var heroWatchID = ''
    - var heroWatchTitle = ''

    - var heroEmail = ''
    - var heroEmailTitle = ''

    - var heroMapLat = ''
    - var heroMapLng = ''

  include ../components/_hero
  
  h1 5
  hr

  block prepend ../components/_hero

    - var heroFull = false
    - var heroAlternative = false
    - var heroReverse = false

    - var heroFullImage = ''
    - var heroADV = ''
    - var heroCover = ''
    - var heroIcon = '/img/sound-design.svg'
    - var heroAvatar = ''
    - var heroImage = ''
    - var heroTitle = 'Sound Design'
    - var heroDesc = 'To a general advertiser outdoor advertising is worthy of consideration'

    - var heroCTAlink = ''
    - var heroCTAtitle = ''

    - var heroWatchID = ''
    - var heroWatchTitle = ''

    - var heroEmail = ''
    - var heroEmailTitle = ''

    - var heroMapLat = ''
    - var heroMapLng = ''

  include ../components/_hero
  
  h1 6
  hr

  block prepend ../components/_hero

    - var heroFull = false
    - var heroAlternative = false
    - var heroReverse = false

    - var heroFullImage = ''
    - var heroADV = ''
    - var heroCover = ''
    - var heroIcon = ''
    - var heroAvatar = '/img/avatar.jpg'
    - var heroImage = ''
    - var heroTitle = 'Elisabetta Bucciarelli'
    - var heroDesc = 'Founder & Art Director'

    - var heroCTAlink = ''
    - var heroCTAtitle = ''

    - var heroWatchID = ''
    - var heroWatchTitle = ''

    - var heroEmail = ''
    - var heroEmailTitle = ''

    - var heroMapLat = ''
    - var heroMapLng = ''

  include ../components/_hero
  
  h1 7
  hr

  block prepend ../components/_hero

    - var heroFull = false
    - var heroAlternative = false
    - var heroReverse = false

    - var heroFullImage = ''
    - var heroADV = ''
    - var heroCover = ''
    - var heroIcon = ''
    - var heroAvatar = ''
    - var heroImage = '/img/post-image.jpg'
    - var heroTitle = 'Collaboration with indie FPP'
    - var heroDesc = ''
    - var heroDate = '09 Jun 2017'

    - var heroCTAlink = ''
    - var heroCTAtitle = ''

    - var heroWatchID = ''
    - var heroWatchTitle = ''

    - var heroEmail = ''
    - var heroEmailTitle = ''

    - var heroMapLat = ''
    - var heroMapLng = ''

  include ../components/_hero

  h1 8
  hr

  block prepend ../components/_hero

    - var heroFull = false
    - var heroAlternative = false
    - var heroReverse = false

    - var heroFullImage = ''
    - var heroADV = ''
    - var heroCover = ''
    - var heroIcon = ''
    - var heroAvatar = ''
    - var heroImage = ''
    - var heroTitle = 'Contact'
    - var heroDesc = 'They are big, bold and beautiful. Billboards have been around for quite a while.'
    - var heroDate = ''

    - var heroCTAlink = ''
    - var heroCTAtitle = ''

    - var heroWatchID = ''
    - var heroWatchTitle = ''

    - var heroEmail = ''
    - var heroEmailTitle = ''

    - var heroMapLat = '41.913541'
    - var heroMapLng = '12.464677'

  include ../components/_hero

  include ../components/_footer
