block prepend _hero

  - var heroFull = true
  - var heroAlternative = false
  - var heroReverse = false

  - var heroFullImage = '/img/artwork-4.png'
  - var heroADV = ''
  - var heroCover = ''
  - var heroIcon = ''
  - var heroAvatar = ''
  - var heroImage = ''
  - var heroTitle = 'Connect your audience with the content that matters most to them'
  - var heroDesc = 'We offer most reliable services for your valuable project providing the tools and our team to improve your business'

  - var heroCTAlink = ''
  - var heroCTAtitle = ''

  - var heroWatchID = ''
  - var heroWatchTitle = ''

  - var heroEmail = 'name@domain.ltd'
  - var heroEmailTitle = 'Contact us'

  - var heroMapLat = ''
  - var heroMapLng = ''

include _hero
