div.dropdown
  button.dropdown-button(type='button')
    span English
    include ../../img/arrow-bottom.svg
  ul.dropdown-menu.no-list
    li.dropdown-menu-item.dropdown-menu-item--active
      a(href='#') English
    li.dropdown-menu-item
      a(href='#') Italiano
