div.dropdown
  button.dropdown-button(type='button')
    span English
    include ../../img/arrow-bottom.svg
  ul.dropdown-menu
    li.dropdown-menu-item--active
      a(href='#') English
    li
      a(href='#') Italiano
