footer.footer(role='contentinfo')
  div.container
    div.footer-logo
      a(href='/')
        span.hidden #{title}
        include ../../img/logo-2.svg
    div.footer-nav
      ul.no-list
        li
          a(href='#') Home
        li
          a(href='#') Services
        li
          a(href='#') Filmography
        li
          a(href='#') Team
        li
          a(href='#') Blog
        li
          a(href='#') About
        li
          a(href='#') Contact
    div.footer-lang
      include ../components/_dropdown.pug
footer.complementary
  div.container
    div.complementary-copyright
      p © 2017 Sound Art 23 – All Rights Reserved. Privacy Polity & Cookies
    div.complementary-social
      ul.no-list
        li
          a(href='#')
            span.hidden Facebook
            include ../../img/facebook.svg
        li
          a(href='#')
            span.hidden LinkedIn
            include ../../img/linkedin.svg
        li
          a(href='#')
            span.hidden Instagram
            include ../../img/instagram.svg
