header.header(role='banner')
  div.container
    div.header-logo
      h1
        a(href='/')
          span.hidden #{title}
          include ../../img/logo.svg
    div.header-toggle
      button.toggle-button(type='button')
        span.hidden Open navigation
        div.state-1
          include ../../img/nav.svg
        div.state-2
          include ../../img/nav-close.svg
    nav.header-nav
      h2.hidden Navigation
      ul.no-list
        if ( page == 'Home' )
          li.header-nav-page.header-nav-page--active
            a(href='/') Home
        else
          li.header-nav-page
            a(href='/') Home
        if ( page == 'Services' || page == 'Service' )
          li.header-nav-page.header-nav-page--active
            a(href='/services') Services
        else
          li.header-nav-page
            a(href='/services') Services
        if ( page == 'Filmography' )
          li.header-nav-page.header-nav-page--active
            a(href='/filmography') Filmography
        else
          li.header-nav-page
            a(href='/filmography') Filmography
        li.header-nav-page
          a(href='#') Team
        li.header-nav-page
          a(href='#') Blog
        li.header-nav-page
          a(href='#') About
        li.header-nav-page
          a(href='#') Contact
    div.header-lang
      include ../components/_dropdown.pug
