extends _layout.pug
block prepend head
  - var page = 'Home'
block content
  main.main(role='main')
    div.icons
      include ../img/sound-design.svg
      include ../img/mixing-1.svg
      include ../img/video-editing.svg
      include ../img/post-production.svg
      include ../img/vfx.svg
      include ../img/screening.svg
      include ../img/dubbing.svg
